.ul-menu{
    list-style: none;
    background-color: rgba(0, 0, 0, 0.55);
    backdrop-filter: blur(4px);
    width: auto;
    height: 230px;
    flex-shrink: 0;
    justify-content: space-between;
}

.scroll-menu{
    padding-top: 93px;
}

.menu-content{
    padding: 55px;
    color: #FFF;
    font-size: 38px;
    font-style: normal;
    font-weight: 900;
    line-height: 60px; 
    opacity: 0.9;
    width: 330px;
}